<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sefaria Chavrusa</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles.css"/>
    <!-- Speech SDK reference sdk. -->
    <script src="https://aka.ms/csspeech/jsbrowserpackageraw" defer></script>
    <script src="static/ajax.js" defer></script>
    <script src="static/data.js" defer></script>
    <script src="static/other.js" defer></script>
</head>

<body>
<div class="top">
    <h1 style="font-weight: 500">Sefaria Chavrusa</h1>

    <div id="warning">
        <h1 style="font-weight: 500">
            Speech Speech SDK not found
            (microsoft.cognitiveservices.speech.sdk.bundle.js missing).
        </h1>
    </div>

    <h2 id="top">Copy and paste a web url from Sefaria</h2>
    </div>
    <form action="/" method="post">
        <input type="text" id="url_input" name="url_input"
               placeholder="eg. https://www.sefaria.org/Genesis.1?lang=bi&aliyot=0">
        <div><!--
            <button id="startSynthesisAsyncButton">Start synthesis</button>
            <button id="pauseButton">Pause</button>
            <button id="resumeButton">Resume</button>
            <div class="advanced_Settings"></div>
                <label>
                    <input type="checkbox" id="toggle"/>
                    "Hashem"
                </label>-->

            </div>
            <div onchange="voiceSelect()" class="voices">
                <img id="avatar2" src="static/images/Yehuda.png" width="80"/>
                <img id="avatar" src="static/images/Yaron.png" width="80"/>
                <select name="Voices" id="Voices">
                    <option value="Both">Both (Hebrew and English)</option>
                    <option value="Hebrew">Yaron - Hebrew</option>
                    <option value="English">Yehuda - English</option>
                </select>
            </div>
        </div>
    </form>

<p id="eventsDiv"></p>


<p id="Sefaria_text"><br>
    <audio controls='controls'>
        <source src={{audio_filepath}} type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <br><br><br>{{both | safe}}
</p>


<div id="content" style="display: none">

</div>
</body>

</html>